@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent; 
    }

        ::-webkit-scrollbar-thumb {
        background: #E3B425; /* Dark mode scrollbar thumb color */
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #CD8F08; 
    }
    
    .dark ::-webkit-scrollbar-thumb {
        background: #1F2937;
    }
    
    /* Handle on hover */
    .dark ::-webkit-scrollbar-thumb:hover {
        background: #bbb6b6; 
    }


    /* CODEMIRRO GUTTERS */
    .ͼ2 .cm-gutters {
        background-color: #1f293784;
        color: #6c6c6c;
        border-right: 1px solid #ddd;
    }

    .ͼ2 .cm-activeLine {
        background-color: #1f293743;
    }

    .ͼ2 .cm-activeLineGutter {
        background-color: #1f2937;
    }

    .prose{
        max-width: 100%;
    }
  @layer components {

    body {
        font-family: 'Trebuchet MS', sans-serif;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        @apply bg-yellow-100 text-yellow-950 dark:bg-slate-950 dark:text-white;
        
    }


    .btn-primary{
        @apply bg-yellow-200 hover:bg-yellow-400 dark:bg-slate-800 dark:text-slate-100 text-black px-6 py-2 border-2 border-yellow-400 dark:border-slate-400 rounded-md shadow-md  dark:hover:text-black dark:hover:bg-slate-400 transition-all duration-300 ease-in-out;
    }

    /* CARD */
    
    .card{
        @apply w-full md:max-w-[30%] bg-yellow-200 hover:bg-yellow-400 dark:bg-slate-800 dark:text-slate-100 dark:hover:bg-slate-700 p-4 mt-4 md:mt-0 rounded-lg shadow-md;
    }

    .card-body{
        @apply flex flex-col justify-center items-center space-y-4 text-center; 
    }

    .card-title{
        @apply text-2xl font-bold;
    }

    .card-text{
        @apply text-lg;
    }


    /* BLOG */

    .posts{
        @apply bg-yellow-200 dark:bg-slate-800 hover:bg-yellow-400 dark:hover:bg-slate-700 p-4 rounded-lg shadow-md
    }

    .post-title{
        @apply text-2xl capitalize font-bold
    }

    .post-date{
        @apply text-sm text-gray-600 dark:text-gray-400
    }

    .post-description{
        @apply text-lg mt-2 text-gray-600 dark:text-gray-400
    }
    
  }