@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #131211;
}

::-webkit-scrollbar-thumb:hover {
    background: #6b4a02;
}

.dark ::-webkit-scrollbar-thumb {
    background: #ffffffce;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #bbb6b6;
}

/* CODEMIRRO GUTTERS */
.ͼ2 .cm-gutters {
    background-color: #ffffff00;
    border-right: 1px solid #ddd;
}

.ͼ2 .cm-activeLine {
    background-color: #808da043;
}

.ͼ2 .cm-activeLineGutter {
    background-color: #707e913a;
}

.prose {
    max-width: 100%;
}

@layer components {
    body {
        font-family: "Trebuchet MS", sans-serif;
        @apply bg-yellow-400 dark:bg-indigo-950 dark:text-white;
    }

    .btn-primary {
        @apply text-black hover:text-white dark:text-indigo-100 bg-yellow-300
            hover:bg-yellow-900 dark:bg-indigo-800 border-2 border-yellow-900
            dark:border-indigo-400 px-6 py-2 shadow-md dark:hover:text-black
            dark:hover:bg-indigo-400 transition-all duration-300 ease-in-out;
    }

    /* INPUT */
    .input {
        @apply w-full px-4 py-3 rounded-lg border border-yellow-800
            dark:border-indigo-400 bg-white dark:bg-indigo-900 text-gray-800
            dark:text-gray-200 placeholder-gray-400 dark:placeholder-gray-500
            focus:ring-2 focus:ring-yellow-800 dark:focus:ring-indigo-400
            focus:outline-none transition-all duration-300;
    }

    .input:disabled {
        @apply bg-gray-200 dark:bg-indigo-700 text-gray-400 dark:text-gray-500
            cursor-not-allowed;
    }

    /* Base card styles */
    .card {
        @apply w-full md:max-w-[30%] flex flex-col gap-4 max-w-[20rem]
            min-w-[20rem];
    }

    /* Card Body Styles */
    .card .card-body {
        @apply flex flex-col justify-between gap-4 h-full;
    }

    .card .card-body h1 {
        @apply text-xl font-semibold;
    }

    .card .card-body p {
        @apply text-sm text-gray-200 dark:text-gray-300;
    }

    .card .card-body span {
        @apply text-xs font-medium px-2 py-1 text-end;
    }

    /* Gen AI Card */
    .card .gen-ai-card {
        @apply bg-green-500 dark:bg-green-700 text-white p-6;
    }

    /* Data Science Card */
    .card .data-science-card {
        @apply bg-blue-500 dark:bg-blue-700 text-white p-6;
    }

    /* Web Dev Card */
    .card .web-dev-card {
        @apply bg-orange-500 dark:bg-orange-700 text-white p-6;
    }

    /* Default Card */
    .card .default-card {
        @apply bg-gray-400 dark:bg-gray-700 text-black dark:text-white p-6;
    }

    /* Button Styles */
    .card-body .btn {
        @apply py-2 px-4 rounded-md transition-all duration-300 text-white
            text-center;
    }

    /* Gen AI Button */
    .card-body .gen-ai-btn {
        @apply bg-green-600 hover:bg-green-800;
    }

    /* Data Science Button */
    .card-body .data-science-btn {
        @apply bg-blue-600 hover:bg-blue-800;
    }

    /* Web Dev Button */
    .card-body .web-dev-btn {
        @apply bg-orange-600 hover:bg-orange-800;
    }

    /* Default Button */
    .card-body .default-btn {
        @apply bg-gray-600 hover:bg-gray-800;
    }

    /* BLOG */
    .posts {
        @apply p-6 bg-yellow-300 hover:bg-yellow-200 dark:bg-indigo-900
            dark:hover:bg-indigo-800;
    }

    .post-title {
        @apply text-2xl capitalize font-bold text-gray-800 dark:text-gray-100
            transition-colors duration-300;
    }

    .post-date {
        @apply text-sm text-gray-500 dark:text-gray-400 italic;
    }

    .post-description {
        @apply mt-4 text-gray-700 dark:text-gray-300;
    }

    .post-categories {
        @apply text-sm text-gray-700 dark:text-gray-300 bg-yellow-400
            dark:bg-indigo-600 px-3 py-1 rounded-full inline-block shadow-sm
            transition-all transform hover:scale-110;
    }

    /* DARK THEME */

    #theme-toggle {
        @apply invisible;
    }

    #theme-toggle + label {
        @apply inline-block cursor-pointer h-8 w-8 rounded-full duration-300
            content-[""];
    }

    @media (max-width: 767px) {
        #theme-toggle + label {
            @apply inline-block cursor-pointer h-6 w-6 rounded-full duration-300
                content-[""];
        }
    }

    #theme-toggle:not(:checked) + label {
        @apply bg-amber-400;
    }

    #theme-toggle:checked + label {
        @apply bg-transparent;
        box-shadow: inset -8px -8px 1px 1px #ddd;
    }
}
