@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent; 
    }

    ::-webkit-scrollbar-thumb {
        background: #1F2937;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #bbb6b6; 
    }

    /* CODEMIRRO GUTTERS */
    .ͼ2 .cm-gutters {
        background-color: #1f293784;
        color: #6c6c6c;
        border-right: 1px solid #ddd;
    }

    .ͼ2 .cm-activeLine {
        background-color: #1f293743;
    }

    .ͼ2 .cm-activeLineGutter {
        background-color: #1f2937;
    }

  @layer components {

    body {
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        @apply bg-white dark:bg-slate-950 text-black dark:text-white;
    }


    .btn-primary{
        @apply bg-slate-400 dark:bg-slate-800 dark:text-slate-100 text-black px-6 py-2 border-2 border-slate-400 rounded-md shadow-md hover:bg-slate-700 hover:text-black dark:hover:bg-slate-400 transition-all duration-300 ease-in-out;
    }



    
    .card{
        @apply bg-slate-200 dark:bg-slate-800 dark:text-slate-100 hover:bg-slate-300 dark:hover:bg-slate-700 p-4 mt-4 md:mt-0 rounded-lg shadow-md md:max-w-[30%];
    }

    .card-body{
        @apply flex flex-col justify-center items-center space-y-4; 
    }

    .card-title{
        @apply text-2xl font-bold;
    }

    .card-text{
        @apply text-lg text-justify;
    }
    
  }